.result_list__ident_span {
    display: block;
    float: left;
    height: 10px;
    width: 25px;
}
.drag_handle_container {
    display: inline-block;
    position: absolute;
    z-index: 99;
}
.drag_handle {
    width: 16px;
    height: 16px;
    background-image: url('../img/icon-drag.png');
    cursor: move;
    position: relative;
    left: 15px;
    top: -1px;
    opacity: 0.5;
}
.drag_handle:hover {
    opacity: 1.0;
}

#loader {
    display: none;
}
#loader span {
    position: fixed;
    font-size: 64px;
    text-align: center;
    width: 500px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -250px;
    opacity: 0.3;
}
#loader div {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.2;
    z-index: 999;
}


#result_list tbody tr td .catcher_container {
    position: absolute;
    display: none;
}
#result_list .drag_started tr td .catcher_container {
    display: block;
}
#result_list tbody tr td .catcher {
    position: absolute;
    display: block;
    width: 500px;
    height: 13px;
    left: 30px;
    z-index: 100;
}
#result_list tbody tr td .catcher_before {
    top: -7px;
    /*background-color: red;*/
    height: 14px;
}
#result_list tbody tr td .catcher_after {
    top: 7px;
    /*background-color: orange;*/
}

#result_list tbody tr td .catcher span {
    width: 500px;
    height: 6px;
    left: 200px;
    background-color: #6CA8F5;
    position: absolute;
    display: none;
}
#result_list tbody tr td .catcher_before span {
    top: -2px;
}
#result_list tbody tr td .catcher_after span {
    bottom: -3px;
}

#result_list tbody tr td .ui-state-active span {
    display: block;
}


#result_list tbody .dragging_element td .ui-state-active span {
    display: none;
}
